services:
  # Noted that 'privileged: true' in your VPN config is needed for docker-ap to manipulate AP
  nordvpn:
    image: ghcr.io/bubuntux/nordvpn
    container_name: nordvpn
    environment:
      - TOKEN=<nord_vpn_token>   # Required
      - CONNECT=<country>        # Required, e.g. United_Kingdom (https://nordvpn.com/servers/tools/)
      - TECHNOLOGY=NordLynx
    cap_add:
      - NET_ADMIN
      - NET_RAW
    privileged: true
    restart: unless-stopped
  docker-ap:
    build:
      context: docker-ap
      dockerfile: Dockerfile
    container_name: docker-ap
    image: docker-ap
    restart: unless-stopped
    privileged: true
    depends_on:
      - nordvpn
    network_mode: service:nordvpn
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/fs/cgroup/systemd:/sys/fs/cgroup/systemd
    environment:
      - INTERFACE=wlan0
      - OUTGOINGS=nordlynx
      - CHANNEL=36
      - WPA_PASSPHRASE=<wifi_password>            # Required
      - SSID=<ssid>                               # Required
      - DNS_ADDRESSES=103.86.96.100,103.86.99.100 # NordVPN DNSs
      - COUNTRY_CODE=<wifi_country_code>          # Required, e.g. GB
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f '/usr/sbin/hostapd' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
