[Unit]
Description=WiFi Restart API
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/user/docker-nordvpn-ap
ExecStart=/home/user/docker-nordvpn-ap/flask-env/bin/python /home/user/docker-nordvpn-ap/app.py
Restart=always

[Install]
WantedBy=multi-user.target
